@import url('https://fonts.cdnfonts.com/css/pokemon-fire-red');

                

body {
  margin: 0;
  font-family: 'Pokemon Fire Red', sans-serif;
  border-style: dashed;
  
                                                
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
